@import "tailwindcss";

/* Estilos personalizados para Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}

.leaflet-control-zoom {
  border: 2px solid #e5e7eb !important;
  border-radius: 12px !important;
}

.leaflet-control-zoom a {
  border-radius: 8px !important;
}

.leaflet-interactive {
  cursor: pointer !important;
}